In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("../data/data_transformed.csv")

In [15]:
df

,event-id,location-long,location-lat,argos:lat1,argos:lat2,argos:lon1,argos:lon2,individual-local-identifier,date,time
0,18347727173,-122.407,36.981,36.981,47.285,-122.407,-69.471,1993CA-Bmu-00834,1993-08-29,01:23:17
1,18347727174,-122.788,37.637,37.637,39.596,-122.788,-132.219,1993CA-Bmu-00834,1993-08-31,13:04:34
2,18347727175,-122.827,37.166,37.166,44.267,-122.827,-86.243,1993CA-Bmu-00834,1993-09-01,01:57:39
3,18347727180,-123.466,38.184,38.184,45.262,-123.466,-88.640,1993CA-Bmu-10823,1993-09-01,22:35:12
4,18347727182,-123.410,37.141,37.141,34.968,-123.410,-133.827,1993CA-Bmu-10836,1993-09-01,03:40:17
...,...,...,...,...,...,...,...,...,...,...
15540,18347743274,-115.027,26.702,26.702,37.012,-115.027,-165.932,2008CR-Bmu-01388,2008-06-03,19:13:04
15541,18347743275,-115.930,26.972,26.972,18.266,-115.930,-154.364,2008CR-Bmu-01388,2008-06-04,22:27:15
15542,18347743276,-119.121,30.734,30.734,21.285,-119.121,-73.036,2008CR-Bmu-01388,2008-06-11,11:42:10
15543,18347743277,-119.172,30.742,30.742,23.543,-119.172,-86.128,2008CR-Bmu-01388,2008-06-11,11:59:00
15544,18347743278,-117.927,31.318,31.318,39.205,-117.927,-157.699,2008CR-Bmu-01388,2008-06-13,19:08:34

In [16]:
df.isna().sum()

event-id                        0
location-long                   0
location-lat                    0
argos:lat1                      0
argos:lat2                     85
argos:lon1                      0
argos:lon2                     85
individual-local-identifier     0
date                            0
time                            0
dtype: int64

In [17]:
df = df.dropna()

In [18]:
df.isna().sum()

event-id                       0
location-long                  0
location-lat                   0
argos:lat1                     0
argos:lat2                     0
argos:lon1                     0
argos:lon2                     0
individual-local-identifier    0
date                           0
time                           0
dtype: int64

In [19]:
import datetime as dt

In [20]:
df["date"] = df["date"].apply(lambda x: 
                                    dt.datetime.strptime(x, "%Y-%m-%d").year)

/tmp/ipykernel_914/1657816618.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date"] = df["date"].apply(lambda x:

In [21]:
df["date"]

0        1993
1        1993
2        1993
3        1993
4        1993
         ...
15540    2008
15541    2008
15542    2008
15543    2008
15544    2008
Name: date, Length: 15460, dtype: int64

In [22]:
y= df["individual-local-identifier"]
X= df.drop(columns=["individual-local-identifier", "time", "event-id"])

In [23]:
df["date"].describe()

count    15460.000000
mean      2003.878719
std          3.829502
min       1993.000000
25%       2000.000000
50%       2005.000000
75%       2007.000000
max       2009.000000
Name: date, dtype: float64

In [24]:
X = pd.get_dummies(X)

In [25]:
y = pd.get_dummies(y)

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y)

In [27]:
X_train.head()

,location-long,location-lat,argos:lat1,argos:lat2,argos:lon1,argos:lon2,date
13906,-123.540,30.220,30.220,32.652,-123.540,-111.942,2008
4265,-115.643,28.177,28.177,23.334,-115.643,-93.707,2001
2514,-114.118,30.203,30.203,29.203,-114.118,-109.398,2000
11564,-112.550,26.046,26.046,29.524,-112.550,-128.081,2008
9608,-113.847,25.880,25.880,30.258,-113.847,-133.624,2006

In [28]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.ensemble import RandomForestClassifier

In [29]:
rf = RandomForestClassifier(n_jobs=-1, verbose=2)

In [30]:
rf.fit(X_train, y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 12 concurrent workers.

building tree 1 of 100
building tree 2 of 100
building tree 3 of 100
building tree 4 of 100
building tree 5 of 100
building tree 6 of 100building tree 7 of 100

building tree 8 of 100
building tree 9 of 100
building tree 10 of 100
building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100
building tree 15 of 100
building tree 16 of 100
building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100
building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100
building tree 28 of 100

[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    2.9s

building tree 29 of 100
building tree 30 of 100
building tree 31 of 100
building tree 32 of 100
building tree 33 of 100building tree 34 of 100

building tree 35 of 100
building tree 36 of 100
building tree 37 of 100
building tree 38 of 100
building tree 39 of 100
building tree 40 of 100
building tree 41 of 100
building tree 42 of 100
building tree 43 of 100
building tree 44 of 100
building tree 45 of 100
building tree 46 of 100building tree 47 of 100

building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100
building tree 57 of 100
building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100
building tree 64 of 100
building tree 65 of 100
building tree 66 of 100
building tree 67 of 100
building tree 68 of 100
building tree 69 of 100
building tree 70 of 100
building tree 71 of 100
building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100
building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100
building tree 86 of 100
building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100building tree 95 of 100

building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   10.7s finished

RandomForestClassifier(n_jobs=-1, verbose=2)

In [31]:
y_pred =rf.predict(X_test)

[Parallel(n_jobs=12)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=12)]: Done  17 tasks      | elapsed:    1.1s
[Parallel(n_jobs=12)]: Done 100 out of 100 | elapsed:    4.3s finished

In [32]:
y_pred

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

**MÃ©tricas**

In [33]:
rf.fit(X,y)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 12 concurrent workers.

building tree 1 of 100
building tree 2 of 100
building tree 3 of 100building tree 4 of 100
building tree 5 of 100
building tree 6 of 100building tree 7 of 100

building tree 8 of 100

building tree 9 of 100
building tree 10 of 100
building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100
building tree 15 of 100
building tree 16 of 100
building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100
building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100
building tree 28 of 100
building tree 29 of 100building tree 30 of 100

building tree 31 of 100
building tree 32 of 100
building tree 33 of 100
building tree 34 of 100
building tree 35 of 100
building tree 36 of 100

[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    3.8s

building tree 37 of 100
building tree 38 of 100
building tree 39 of 100
building tree 40 of 100
building tree 41 of 100
building tree 42 of 100
building tree 43 of 100building tree 44 of 100

building tree 45 of 100
building tree 46 of 100
building tree 47 of 100
building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100building tree 57 of 100

building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100
building tree 64 of 100
building tree 65 of 100
building tree 66 of 100
building tree 67 of 100
building tree 68 of 100
building tree 69 of 100
building tree 70 of 100
building tree 71 of 100
building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100
building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100building tree 86 of 100

building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100
building tree 95 of 100
building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   14.7s finished

RandomForestClassifier(n_jobs=-1, verbose=2)

In [34]:
y_pred_train = rf.predict(X_train)

[Parallel(n_jobs=12)]: Using backend ThreadingBackend with 12 concurrent workers.
[Parallel(n_jobs=12)]: Done  17 tasks      | elapsed:    2.3s
[Parallel(n_jobs=12)]: Done 100 out of 100 | elapsed:    7.4s finished

In [35]:
import numpy as np

In [36]:
np.array(y_test)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [37]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [38]:
accuracy_score(y_test,y_pred)

0.4690815006468305

In [39]:
precision_score(y_test,y_pred,average='macro')

/home/silvia/miniconda3/envs/animal_movement/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.4563960748872694

In [40]:
recall_score(y_test,y_pred, average='macro')

/home/silvia/miniconda3/envs/animal_movement/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.2610469458118502