In [41]:
import pandas as pd

In [42]:
df = pd.read_csv("../data/data_transformed.csv")

In [43]:
df.isna().sum()

event-id                        0
location-long                   0
location-lat                    0
argos:lat1                      0
argos:lat2                     85
argos:lon1                      0
argos:lon2                     85
individual-local-identifier     0
date                            0
time                            0
dtype: int64

In [44]:
df = df.dropna()

In [45]:
df.isna().sum()

event-id                       0
location-long                  0
location-lat                   0
argos:lat1                     0
argos:lat2                     0
argos:lon1                     0
argos:lon2                     0
individual-local-identifier    0
date                           0
time                           0
dtype: int64

In [46]:
import datetime as dt

In [47]:
df["year"] = df["date"].apply(lambda x: 
                                    dt.datetime.strptime(x, "%Y-%m-%d").year)

In [48]:
df["month"] = df["date"].apply(lambda x: 
                                    dt.datetime.strptime(x, "%Y-%m-%d").month)

In [49]:
df=df.drop(columns=["event-id", "date"])

In [50]:
df

,location-long,location-lat,argos:lat1,argos:lat2,argos:lon1,argos:lon2,individual-local-identifier,time,year,month
0,-122.407,36.981,36.981,47.285,-122.407,-69.471,1993CA-Bmu-00834,01:23:17,1993,8
1,-122.788,37.637,37.637,39.596,-122.788,-132.219,1993CA-Bmu-00834,13:04:34,1993,8
2,-122.827,37.166,37.166,44.267,-122.827,-86.243,1993CA-Bmu-00834,01:57:39,1993,9
3,-123.466,38.184,38.184,45.262,-123.466,-88.640,1993CA-Bmu-10823,22:35:12,1993,9
4,-123.410,37.141,37.141,34.968,-123.410,-133.827,1993CA-Bmu-10836,03:40:17,1993,9
...,...,...,...,...,...,...,...,...,...,...
15540,-115.027,26.702,26.702,37.012,-115.027,-165.932,2008CR-Bmu-01388,19:13:04,2008,6
15541,-115.930,26.972,26.972,18.266,-115.930,-154.364,2008CR-Bmu-01388,22:27:15,2008,6
15542,-119.121,30.734,30.734,21.285,-119.121,-73.036,2008CR-Bmu-01388,11:42:10,2008,6
15543,-119.172,30.742,30.742,23.543,-119.172,-86.128,2008CR-Bmu-01388,11:59:00,2008,6
15544,-117.927,31.318,31.318,39.205,-117.927,-157.699,2008CR-Bmu-01388,19:08:34,2008,6

In [51]:
for elem in df["individual-local-identifier"].unique():
     df.loc[df["individual-local-identifier"]==elem].to_csv(f'{elem}.csv')

In [52]:
df_23043 = pd.read_csv("./1999CA-Bmu-23043.csv") #individuo con la ruta más larga

In [53]:
df_23043

,Unnamed: 0,location-long,location-lat,argos:lat1,argos:lat2,argos:lon1,argos:lon2,individual-local-identifier,time,year,month
0,3173,-120.143,34.120,34.120,35.544,-120.143,-127.027,1999CA-Bmu-23043,16:09:13,1999,7
1,3174,-120.145,34.147,34.147,32.243,-120.145,-129.529,1999CA-Bmu-23043,03:27:53,1999,7
2,3175,-119.740,33.980,33.980,38.156,-119.740,-139.994,1999CA-Bmu-23043,12:33:13,1999,7
3,3176,-119.771,34.163,34.163,28.573,-119.771,-145.945,1999CA-Bmu-23043,23:53:08,1999,7
4,3177,-119.688,34.350,34.350,42.993,-119.688,-76.494,1999CA-Bmu-23043,03:20:07,1999,7
...,...,...,...,...,...,...,...,...,...,...,...
410,3583,-122.007,21.730,21.730,22.057,-122.007,-123.562,1999CA-Bmu-23043,16:00:28,1999,12
411,3584,-122.871,21.247,21.247,20.439,-122.871,-119.302,1999CA-Bmu-23043,12:00:55,1999,12
412,3585,-122.755,21.083,21.083,16.252,-122.755,-101.167,1999CA-Bmu-23043,17:16:22,1999,12
413,3586,-122.272,20.831,20.831,14.861,-122.272,-149.760,1999CA-Bmu-23043,04:21:51,1999,12
414,3587,-122.718,19.848,19.848,23.507,-122.718,-139.853,1999CA-Bmu-23043,16:33:51,1999,12

In [54]:
X_train = df_23043.iloc[:-1].loc[:, ["location-long", "location-lat"]]

In [55]:
X_train

     location-long  location-lat
0         -120.143        34.120
1         -120.145        34.147
2         -119.740        33.980
3         -119.771        34.163
4         -119.688        34.350
..             ...           ...
409       -123.026        22.130
410       -122.007        21.730
411       -122.871        21.247
412       -122.755        21.083
413       -122.272        20.831

[414 rows x 2 columns]

In [57]:
y_train = df_23043.iloc[-1].loc[ ["location-long", "location-lat"]]

In [58]:
y_train

location-long   -122.718
location-lat      19.848
Name: 414, dtype: object

In [61]:
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout, Masking, Embedding